<a href="https://colab.research.google.com/github/hmrizal/biopython/blob/main/tp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas Personal 2 - Computational Physics and Biology
# 2502058490 - Helmi M. R.

## Personal Quiz II : Scientific Name Spelling Correction and Genomic Studies

Entrez dalam Biopython memiliki kemampuan untuk menyelidiki dan memperbaiki ejaan yang salah dari kata yang kita cari di database tertentu.

In [ ]:
# install biopython package
!pip install biopython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting biopython
  Downloading biopython-1.80-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 30.7 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from biopython) (1.21.6)
Installing collected packages: biopython
Successfully installed biopython-1.80

In [ ]:
# install autotime
!pip install ipython-autotime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ipython-autotime
  Downloading ipython_autotime-0.3.1-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from ipython-autotime) (7.9.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (2.0.10)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (5.7.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (57.4.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (4.8.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 27.2 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->ipython-autotime) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->ipython-autotime) (0.7.0)
Installing collected packages: jedi, ipython-autotime
Successfully installed ipython-autotime-0.3.1 jedi-0.18.2

In [ ]:
# load autotime
%load_ext autotime

time: 582 µs (started: 2023-01-29 08:43:57 +00:00)

In [ ]:
# import library
import numpy as np
import pandas as pd
from Bio import Entrez

time: 552 ms (started: 2023-01-29 08:44:01 +00:00)

In [ ]:
# enter e-mail to be recognized by Entrez
Entrez.email = 'learnbiopython@gmail.com'

time: 1.02 ms (started: 2023-01-29 08:44:06 +00:00)

In [ ]:
# list of the scientific names
terms = ['Bos gaurus', 'Antelope cervicapra', 'Gazella bennettii', 'Boselaphus tragocamelus', 'Canis lupus', 'Panthera leo', 'Elephas maximus', 'Equus africanus', 'Panthera pardus', 'Cervus canadensis', 'Pavo cristatus', 'Grus leucogeranus', 'Vulpes vulpes', 'Rhinoceros unicornis', 'Panthera Tigris', 'Crocodylus palustris', 'Gavialis gangeticus', 'Equus caballus', 'Equus quagga', 'Babalus bubalis', 'Sus scrofa', 'Camelus dromedaries', 'Giraffa camelopardalis ', 'Hemidactylus flaviviridis', 'Hippopotamus amphibius', 'Macaca mulatta', 'Canis lupus', 'Felis domesticus', 'Acinonyx jubatus', 'Rattus rattus', 'Mus musculus', 'Oryctolagus cuniculus', 'Bubo virginianus', 'Passer domesticus', 'Corvus splendens', 'Acridotheres tristis', 'Psittacula eupatria', 'Molpastes cafer', 'Eudynamis scolopaccus', 'Columba livia', 'Naja naja', 'Ophiophagus hannah', 'Hydrophiinae ', 'Python molurus', 'Ptyas mucosa']

time: 1.68 ms (started: 2023-01-29 08:44:12 +00:00)

In [ ]:
# 1. Correct the wrong scientific names using Entrez

name = []
animalName = []
correction = []

for term in terms:
  record = Entrez.read(Entrez.espell(db='taxonomy', term=term))
  name.append(record['Query'])
  animalName.append(record['CorrectedQuery'].lower())

  if (record['Query'].lower() != record['CorrectedQuery'].lower()):
    correction.append(record['CorrectedQuery'].lower())
  else:
    correction.append('-')
  
# Create dataframe
df = pd.DataFrame(list(zip(name, correction)), columns=["question","correction"])
df.index = np.arange(1, len(df) + 1)
df['status'] = df['correction'] == '-'

df

                     question             correction  status
1                  Bos gaurus             bos taurus   False
2         Antelope cervicapra    antilope cervicapra   False
3           Gazella bennettii                      -    True
4     Boselaphus tragocamelus                      -    True
5                 Canis lupus                      -    True
6                Panthera leo                      -    True
7             Elephas maximus                      -    True
8             Equus africanus                      -    True
9             Panthera pardus                      -    True
10          Cervus canadensis                      -    True
11             Pavo cristatus                      -    True
12          Grus leucogeranus                      -    True
13              Vulpes vulpes                      -    True
14       Rhinoceros unicornis                      -    True
15            Panthera Tigris                      -    True
16       Crocodylus palustris                      -    True
17        Gavialis gangeticus                      -    True
18             Equus caballus                      -    True
19               Equus quagga                      -    True
20            Babalus bubalis        bubalus bubalis   False
21                 Sus scrofa                      -    True
22        Camelus dromedaries    camelus dromedarius   False
23     Giraffa camelopardalis                      -    True
24  Hemidactylus flaviviridis                      -    True
25     Hippopotamus amphibius                      -    True
26             Macaca mulatta                      -    True
27                Canis lupus                      -    True
28           Felis domesticus                      -    True
29           Acinonyx jubatus                      -    True
30              Rattus rattus                      -    True
31               Mus musculus                      -    True
32      Oryctolagus cuniculus                      -    True
33           Bubo virginianus                      -    True
34          Passer domesticus                      -    True
35           Corvus splendens                      -    True
36       Acridotheres tristis                      -    True
37        Psittacula eupatria                      -    True
38            Molpastes cafer        molasses caffer   False
39      Eudynamis scolopaccus  eudynamys scolopaceus   False
40              Columba livia                      -    True
41                  Naja naja                      -    True
42         Ophiophagus hannah                      -    True
43               Hydrophiinae                      -    True
44             Python molurus                      -    True
45               Ptyas mucosa                      -    True

time: 17.4 s (started: 2023-01-29 08:44:20 +00:00)

In [ ]:
# determining the name of the file
file_name = 'correction.xlsx'
  
# saving the excel
df.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.
time: 330 ms (started: 2023-01-29 08:49:26 +00:00)

In [ ]:
# 2. Get common name from scientific name using Entrez

scientificName = []
commonName = []

for animal in animalName:
  search = Entrez.read(Entrez.esearch(db='taxonomy', term=animal))
  if (search['IdList']):
    fetch = Entrez.read(Entrez.efetch(db='taxonomy', id=search['IdList']))
    
    if 'GenbankCommonName' in fetch[0]['OtherNames']:
      if (fetch[0]['OtherNames']['GenbankCommonName'] != None):
        scientificName.append(fetch[0]['ScientificName'])
        commonName.append(fetch[0]['OtherNames']['GenbankCommonName'])


# Create dataframe
df2 = pd.DataFrame(list(zip(scientificName, commonName)), columns=["ScientificName","CommonName"])
df2.index = np.arange(1, len(df2) + 1)
df2

             ScientificName                 CommonName
1                Bos taurus                     cattle
2       Antilope cervicapra                  blackbuck
3         Gazella bennettii                   chinkara
4   Boselaphus tragocamelus                     nilgai
5               Canis lupus                  gray wolf
6              Panthera leo                       lion
7           Elephas maximus           Asiatic elephant
8           Panthera pardus                    leopard
9            Pavo cristatus             Indian peafowl
10        Grus leucogeranus             Siberian crane
11            Vulpes vulpes                    red fox
12     Rhinoceros unicornis  greater Indian rhinoceros
13          Panthera tigris                      tiger
14     Crocodylus palustris            marsh crocodile
15      Gavialis gangeticus                    Gharial
16           Equus caballus                      horse
17          Bubalus bubalis              water buffalo
18               Sus scrofa                        pig
19      Camelus dromedarius              Arabian camel
20   Giraffa camelopardalis                    giraffe
21   Hippopotamus amphibius               hippopotamus
22           Macaca mulatta              Rhesus monkey
23              Canis lupus                  gray wolf
24              Felis catus               domestic cat
25         Acinonyx jubatus                    cheetah
26            Rattus rattus                  black rat
27             Mus musculus                house mouse
28    Oryctolagus cuniculus                     rabbit
29         Bubo virginianus           great horned owl
30        Passer domesticus              House sparrow
31         Corvus splendens                 House crow
32     Acridotheres tristis                common myna
33      Psittacula eupatria       Alexandrine parakeet
34    Eudynamys scolopaceus                 Asian koel
35            Columba livia                rock pigeon
36                Naja naja               Indian cobra
37       Ophiophagus hannah                 king cobra
38           Python molurus         Indian rock python
39             Ptyas mucosa                     Dhaman

time: 39.4 s (started: 2023-01-29 08:50:41 +00:00)

In [ ]:
# determining the name of the file
file2_name = 'name.xlsx'
  
# saving the excel
df2.to_excel(file2_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.
time: 37.5 ms (started: 2023-01-29 08:51:36 +00:00)

In [ ]:
# 3.1. Get taxonomy rank of Panthera tigris

searchTiger = Entrez.read(Entrez.esearch(db='taxonomy', term='panthera tigris'))
fetchTiger = Entrez.read(Entrez.efetch(db='taxonomy', id=searchTiger['IdList']))

print("Rank: ", fetchTiger[0]['Rank'])

Rank:  species
time: 932 ms (started: 2023-01-29 08:53:48 +00:00)

In [ ]:
# 3.2. get lineage of Panthera tigris

print(fetchTiger[0]['Lineage'])

lineageTiger = fetchTiger[0]['LineageEx']

for item in lineageTiger:
  print(item['Rank'], ": ", item['ScientificName'])

cellular organisms; Eukaryota; Opisthokonta; Metazoa; Eumetazoa; Bilateria; Deuterostomia; Chordata; Craniata; Vertebrata; Gnathostomata; Teleostomi; Euteleostomi; Sarcopterygii; Dipnotetrapodomorpha; Tetrapoda; Amniota; Mammalia; Theria; Eutheria; Boreoeutheria; Laurasiatheria; Carnivora; Feliformia; Felidae; Pantherinae; Panthera
no rank :  cellular organisms
superkingdom :  Eukaryota
clade :  Opisthokonta
kingdom :  Metazoa
clade :  Eumetazoa
clade :  Bilateria
clade :  Deuterostomia
phylum :  Chordata
subphylum :  Craniata
clade :  Vertebrata
clade :  Gnathostomata
clade :  Teleostomi
clade :  Euteleostomi
superclass :  Sarcopterygii
clade :  Dipnotetrapodomorpha
clade :  Tetrapoda
clade :  Amniota
class :  Mammalia
clade :  Theria
clade :  Eutheria
clade :  Boreoeutheria
superorder :  Laurasiatheria
order :  Carnivora
suborder :  Feliformia
family :  Felidae
subfamily :  Pantherinae
genus :  Panthera
time: 7.7 ms (started: 2023-01-29 08:53:54 +00:00)